* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.content {
  width: 1500px;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #262626;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 5px;
  color: #c6c6c6;
  cursor: pointer;
  transition: 0.2s;
}

.navbar li:hover {
  color: #fff;
}

.navbar .logo {
  margin: 0 20px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.content h1 {
  margin-top: 25px;
  font-size: 2.4rem;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
}

.hero {
  width: 100%;
  display: flex;
}

.left {
  width: 60%;
}

.left table {
  width: 100%;
  border-collapse: collapse;
}

.left table thead tr:first-child th {
  padding: 20px;
  border-bottom: 1px solid #c5c5c5;
  background-color: #f4f4f4;
  color: #525252;
}

.left table thead tr:first-child .search input {
  width: 90%;
  height: 15px;
  outline: none;
  border: none;
  padding: 0 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #262626;
  background-color: #f4f4f4;
}

.left table thead tr:first-child .filter {
  color: #ffffff;
  background-color: #393939;
}

.left table thead tr:first-child .filter span {
  font-weight: 400;
}

.left table thead tr th {
  padding: 20px;
  text-align: left;
  background-color: #e0e0e0;
  color: #161616;
  font-weight: 600;
}

.left table tbody tr td {
  padding: 20px;
  border-bottom: 1px solid #c5c5c5;
  background-color: #f4f4f4;
  color: #525252;
}

tr.footer td {
  text-align: center; /* Canh giữa theo chiều ngang */
  vertical-align: middle; /* Canh giữa theo chiều dọc */
}

.left .footer span {
  margin: 0 20px;
  cursor: pointer;
}

.left .footer span:nth-child(2) {
  border-bottom: 3px solid #182fc6;
}

.right {
  margin-left: 20px;
  width: 40%;
  border-left: #dadada 2px solid;
  padding-left: 15px;
}

.right .info {
  display: flex;
  align-items: center;
}

.right .image {
  width: 140px;
  height: 150px;
}

.right .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.right .text {
  margin-left: 20px;
}

.right .text .name {
  font-size: 4rem;
  font-weight: 800;
  color: #262626;
}

.right .text .email {
  margin-top: 8px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #262626;
}

.right .text .phone_number {
  margin-top: 8px;
  font-size: 2rem;
  font-weight: 500;
  color: #262626;
}

.right .reason {
  margin-top: 30px;
  background-color: #f4f4f4;
  padding: 15px;
}

.right .reason h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #262626;
}

.right .reason p {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #262626;
}

.right .desc {
  margin-top: 30px;
  background-color: #f4f4f4;
  padding: 15px;
}

.right .desc h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #262626;
}

.right .desc p {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #262626;
}

.right .action {
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right .action .btn {
  padding: 12px 35px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
  background-color: #262626;
  opacity: 1;
}

.right .action .btn:hover {
  opacity: 0.9;
}

.right .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right .row h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #262626;
}

.right .line {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; /* Bắt đầu với display: none; để ẩn dialog */
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 320px;
  background-color: #f4f4f4;
  padding: 20px;
}

.modal .modal-content .row {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-content .row .title {
  font-size: 2rem;
  font-weight: 600;
  color: #262626;
}

.modal .modal-content .row .close {
  cursor: pointer;
}

.modal .modal-content label {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #262626;
}

.modal .modal-content label span {
  color: red;
}

.modal .modal-content select {
  width: 100%;
  height: 40px;
  border: 1px solid #dadada;
  padding: 0 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #262626;
}

.modal .modal-content input {
  width: 100%;
  height: 40px;
  border: 1px solid #dadada;
  padding: 0 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #262626;
}

.modal .modal-content .btn {
  display: flex;
  justify-content: center;
}

.modal .modal-content .btn__save {
  margin-top: 20px;
  padding: 12px 35px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
  background-color: #262626;
  opacity: 1;
}

.modal .modal-content .btn__save:hover {
  opacity: 0.9;
}
